---
import RPlyr from '../components/RPlyr.jsx'
const {
    url,
    playing,
    loop,
    controls,
    light,
    volume,
    muted,
    playbackRate,
    width,
    height,
    style,
    progressInterval,
    playsinline,
    pip,
    stopOnUnmount,
    fallback,
    wrapper,
    playIcon,
    previewTabIndex,
    config,
    onReady,
    onStart,
    onPlay,
    onProgress,
    onDuration,
    onPause,
    onBuffer,
    onSeek,
    onEnded,
    onError,
    onClickPreview,
    onEnablePIP,
    onDisablePIP

}=Astro.props
---
    <div>
        <RPlyr 
            url = {url ? url : ReferenceError('Sorry, no URL was provided')} 
            playing = {playing ?? playing}
            loop = {loop ?? loop}
            controls = {controls ?? controls}
            light = {light ?? light}
            volume = {volume ?? volume}
            muted = {muted ?? muted}
            playbackRate = {playbackRate ?? playbackRate}
            width = {width ?? width}
            height = {height ?? height}
            style = {style ?? style}
            progressInterval = {progressInterval ?? progressInterval}
            playsinline = {playsinline ?? playsinline}
            pip = {pip ?? pip}
            stopOnUnmount = {stopOnUnmount ?? stopOnUnmount}
            fallback = {fallback ?? fallback}
            wrapper = {wrapper ?? wrapper} 
            playIcon = {playIcon ?? playIcon}
            previewTabIndex = {previewTabIndex ?? previewTabIndex}
            config = {config ?? config}
            onReady =  {onReady ?? onReady}
            onStart = {onStart ?? onStart}
            onPlay = {onPlay ?? onPlay}
            onProgress = {onProgress ?? onProgress} 
            onDuration = {onDuration ?? onDuration}
            onPause = {onPause ?? onPause}
            onBuffer = {onBuffer ?? onBuffer}
            onSeek = {onSeek ?? onSeek}
            onEnded = {onEnded ?? onEnded}
            onError = {onError ?? onError}
            onClickPreview = {onClickPreview ?? onClickPreview}
            onEnablePIP = {onEnablePIP ?? onEnablePIP}
            onDisablePIP = {onDisablePIP ?? onDisablePIP}
            client:visible
            />
    </div>