---
 import Sidebar from '../../components/sidebar/Sidebar.astro';
 import ThemeToggle from '../../components/Header/ThemeToggle.astro';
  import {Icon} from 'astro-icon'
const {menu,dir,...attrs}=Astro.props

---

<style lang="scss">
    [astro-icon]{
        @apply  fill-current;
    }
    .navbar_feature_mobile {
        font-size: 2em;
        padding-right: 0.25em;
    }

    .navbar_logo_mobile {
        width: 30px;
    }
</style>

<aside class="leftbar  sticky-leftbar">
    <div class="sidebar__feature">
    <div class="navbar_logo_mobile">
        <Icon name="astro-ui"/>
    </div>
      <div class="navbar_feature_mobile">
        XElement
    </div>
     <h3>~~~</h3>
    <div class="mobileToggle">
            <ThemeToggle />
        </div>
        <h3>
            <a href="/docs/induction/overview">Induction</a>
        </h3>
        <h3>
            <a href="/docs/api/overview">API</a>
        </h3>
        <h3>
            <a href="/docs/blog/overview">Blog</a>
        </h3>
        <h3>
            <a href="/docs/guides/myfirstcomponents">Guides</a>
        </h3>
        <h3>~~~</h3>
    </div>
    <Sidebar menu={menu} directory={dir}/>
</aside>