---
import TypeIt from '../components/TypeIt.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <body>
        <div class="four-o-four">
                <div class="four-o-four-title">
                    <span>
                        404
                    </span>
                </div>
            <TypeIt class="typeit">
                    We arent saying that...
                <br/>
                <br/>
                    There was no page here...
                <br/>
                <br/>
                    But it was aliens...<span class="alien">🛸</span>
            </TypeIt>
        </div>
    </body>
</body>
</html>
<style lang="scss">
    html{
        margin:0;
        padding:0;
    }
    body {
        margin:0;
        padding:0;
        width:100%;
        height:100vh;
        background-image: url('/aliens-guy.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .alien{
        @apply text-center;
    }
    .four-o-four {
        @apply w-full h-full relative bg-indigo-700 bg-opacity-70;
        @apply flex flex-col align-middle justify-center items-center;
        
    }
    .typeit{
        @apply text-green-600 text-justify text-4xl;
        
        :first-child(1){
            @apply text-white;
        }
    }
</style>