---
// Component imports and setup JavaScript go here!
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
		
		</style>
	</head>

	<body>
		<h1>Does This work</h1>
	</body>
</html>
