---
	async function getStaticPaths(){
        let docsFiles = await Astro.fetchContent('../../../../docs/XElement/**/*.md')
        return docsFiles.map(doc=>({
                params:{
                  slug: doc.file.pathname.split('/').splice(8).join('/').replace('.md','')
                },
                props:{
                    doc
                }
            }
		))
    }
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
		<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
	</body>
</html>
