---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'
import Counter from '../components/Counter.astro'
---
<BaseLayout>
	<p>Hello world</p>
	<Counter/>
</BaseLayout>
