---
  import ThemeToggle from './ThemeToggle.astro'
  import StorkSearch from './StorkSearch.astro'
---
<header class="navbar navbar__header">
    <div class="navbar__logo">
        <span>
            logo
        </span>
    </div>
    <div class="navbar__feature">
        <span>
            Feature Bar
        </span>
        <span>
            Feature Bar
        </span>
        <span>
            Feature Bar
        </span>
        <span>
            Feature Bar
        </span>
    </div>
    <div class="navbar__search">
        <ThemeToggle/>
        <span>
            Search thingie
        </span>
    </div>
</header>