:root{
    color-scheme: light;
    --bg-light: hsl(150, 100%, 98%);
    --bg-warm: hsl(283, 23%, 88%);
    --bg-dark:hsl(262, 93%, 11%);
    
    --text-light: hsl(240, 5%, 34%);
    --text-warm:hsl(255, 45, 18);
    --text-dark: hsl(240, 100%, 99%);

    --theme-text-color:var(--text-light);
    --theme-bg-color: var(--bg-light);
    
    //Text Colors
    --theme-body: var(--theme-bg-color) ;
    --theme-headings: ;
    --theme-links: ;
    --theme-bold: ;
    --theme-counters: ;
    --theme-bullets: ;
    --theme-hr: ;
    --theme-quotes: ;
    --theme-quote-borders: ;
    --theme-code: ;
    --theme-code-bg: ;
    --theme-code-border: ;
    --theme-pre-code: ;
    --theme-pre-bg: ;
    --theme-pre-border: ;
    --theme-th-borders:  
    --theme-td-borders: ;
}
:root.warm{
    color-scheme: light;
    --theme-bg-color:var(--bg-warm);
    --theme-text-color:var(--text-warm);
    //Text Colors
    --theme-body: var(--theme-bg-color);
    --theme-headings: ;
    --theme-links: ;
    --theme-bold: ;
    --theme-counters: ;
    --theme-bullets: ;
    --theme-hr: ;
    --theme-quotes: ;
    --theme-quote-borders: ;
    --theme-code: ;
    --theme-code-bg: ;
    --theme-code-border: ;
    --theme-pre-code: ;
    --theme-pre-bg: ;
    --theme-pre-border: ;
    --theme-th-borders:  
    --theme-td-borders: ;
}

:root.dark{
    color-scheme: dark;
    --theme-bg-color:var(--bg-dark);
    --text-text-color:var(--text-dark);
    //Text Colors
    --theme-body: var(--theme-bg-color) ;
    --theme-headings: ;
    --theme-links: ;
    --theme-bold: ;
    --theme-counters: ;
    --theme-bullets: ;
    --theme-hr: ;
    --theme-quotes: ;
    --theme-quote-borders: ;
    --theme-code: ;
    --theme-code-bg: ;
    --theme-code-border: ;
    --theme-pre-code: ;
    --theme-pre-bg: ;
    --theme-pre-border: ;
    --theme-th-borders:  
    --theme-td-borders: ;
    //Inverted Text Colors
    --theme-invert-body: ;
    --theme-invert-headings: ;
    --theme-invert-links: ;
    --theme-invert-bold: ;
    --theme-invert-counters: ;
    --theme-invert-bullets: ;
    --theme-invert-hr: ;
    --theme-invert-quotes: ;
    --theme-invert-quote-borders: ;
    --theme-invert-code: ;
    --theme-invert-code-bg: ;
    --theme-invert-code-border: ;
    --theme-invert-pre-code: ;
    --theme-invert-pre-bg: ;
    --theme-invert-pre-border: ;
    --theme-invert-th-borders:  
    --theme-invert-td-borders: ;
}