:root{
    color-scheme: light;
    --bg-light: hsl(150, 100%, 98%);
    --bg-warm: hsl(283, 23%, 88%);
    --bg-dark:hsl(262, 93%, 11%);
    
    --text-light: hsl(240, 5%, 34%);
    --text-warm:hsl(255, 45, 18);
    --text-dark: hsl(240, 100%, 99%);

    --theme-text-color:var(--text-light);
    --theme-bg-color: var(--bg-light);
    
    //Text Colors
    --theme-body: var(--theme-bg-color) ;
    --theme-headings: #785BB9;
    --theme-links: #785BB9;
    --theme-bold: #785BB9;
    --theme-counters: #785BB9;
    --theme-bullets: #785BB9;
    --theme-hr: #785BB9;
    --theme-quotes: #785BB9;
    --theme-quote-borders: #785BB9;
    --theme-code: #785BB9;
    --theme-code-bg: #785BB9;
    --theme-code-border: #785BB9;
    --theme-pre-code: #785BB9;
    --theme-pre-bg: #785BB9;
    --theme-pre-border: #785BB9;
    --theme-th-borders: #785BB9; 
    --theme-td-borders: #785BB9;
}
:root.warm{
    color-scheme: light;
    --theme-bg-color:var(--bg-warm);
    --theme-text-color:var(--text-warm);
    //Text Colors
    --theme-body: var(--theme-bg-color);
    --theme-headings: #785BB9;
    --theme-links: #785BB9;
    --theme-bold: #785BB9;
    --theme-counters: #785BB9;
    --theme-bullets: #785BB9;
    --theme-hr: #785BB9;
    --theme-quotes: #785BB9;
    --theme-quote-borders: #785BB9;
    --theme-code: #785BB9;
    --theme-code-bg: #785BB9;
    --theme-code-border: #785BB9;
    --theme-pre-code: #785BB9;
    --theme-pre-bg: #785BB9;
    --theme-pre-border: #785BB9;
    --theme-th-borders:  #785BB9;
    --theme-td-borders: #785BB9;
}

:root.dark{
    color-scheme: dark;
    --theme-bg-color:var(--bg-dark);
    --text-text-color:var(--text-dark);
    //Text Colors
    --theme-body: var(--theme-bg-color) ;
    --theme-headings: #785BB9;
    --theme-links: #785BB9;
    --theme-bold: #785BB9;
    --theme-counters: #785BB9;
    --theme-bullets: #785BB9;
    --theme-hr: #785BB9;
    --theme-quotes: #785BB9;
    --theme-quote-borders: #785BB9;
    --theme-code: #785BB9;
    --theme-code-bg: #785BB9;
    --theme-code-border: #785BB9;
    --theme-pre-code: #785BB9;
    --theme-pre-bg: #785BB9;
    --theme-pre-border: #785BB9;
    --theme-th-borders: #785BB9; 
    --theme-td-borders: #785BB9;
    //Inverted Text Colors
    --theme-invert-body: #785BB9;
    --theme-invert-headings: #785BB9;
    --theme-invert-links: #785BB9;
    --theme-invert-bold: #785BB9;
    --theme-invert-counters: #785BB9;
    --theme-invert-bullets: #785BB9;
    --theme-invert-hr: #785BB9;
    --theme-invert-quotes: #785BB9;
    --theme-invert-quote-borders: #785BB9;
    --theme-invert-code: #785BB9;
    --theme-invert-code-bg: #785BB9;
    --theme-invert-code-border: #785BB9;
    --theme-invert-pre-code: #785BB9;
    --theme-invert-pre-bg: #785BB9;
    --theme-invert-pre-border: #785BB9;
    --theme-invert-th-borders: #785BB9; 
    --theme-invert-td-borders: #785BB9;
}