/**
    Documentation Layout Stylesheet
*/

.container {
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    gap: 1px; 
    grid-template-areas: 
      "leftbar main"; 
  }

  article {
    max-width:50vh;
  }
  
  .leftbar { grid-area: leftbar; }
  .main { grid-area: main;}
  .rightbar { grid-area: rightbar; }

main.layout{

    max-width: 50vw;
}
.documentation{
    @apply w-max
}


.footer{

}

/**
    ***Sticky Right Sidebar***
*/

.sticky-head {
    position:sticky;
    top: 0;
    @apply bg-[color:var(--theme-bg-color)]
}


.sticky-leftbar {
    position:sticky;
    top:22%;
}

.heading__icon {
    margin-right: 0.25em;
 }

 .edit-on-github {
     border-top: 2px solid;
     padding-top: 0.5em;
 }
//  GitHub comments
.comments {
    padding: 2em;
    background-color:rgb(97, 197, 97);
    max-width: 80%;
    margin: 0 auto;
    border-radius: 2em;
}

footer {
   margin-top: 2em;
}

.howwedo {
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid black;
}

.leftsidebar {
    margin-left: 1.5em;
}

@media (max-width: 719px){
    .sticky-rightbar {
        display: none;
    }
  }

  @media (min-width: 720px) {
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 1em; 
        grid-template-areas: 
          "leftbar main rightbar"; 
      }
      .sticky-rightbar {
        position:sticky;
        top:22%;
        display: block;
    }

    article {
        max-width:80vh;
      }
  
  }