@import "../../node_modules/tailwindcss/dist/base.min.css";
@import "../../node_modules/tailwindcss/dist/components.min.css";
@import "../../node_modules/tailwindcss/dist/utilities.min.css";

/**
    ***FOUC Hack***

    To prevent FOUC on the page between transitions
    Have CSS turn off the HTML page in effect,
    Turn it back on as the last thing it does before closing the door
*/
html{visibility: hidden;opacity:0;}

*,::before,::after{
    font-size: calc(1em + 1vw);
}
.nav{
    @apply flex flex-row flex-wrap justify-evenly text-blue-500; 

    &__link{
        @apply text-base
    }
}


/**
    ***FOUC Hack***
    Telling CSS to turn the lights back on
    Before it closes the proverbial door on it's self
*/
html {
    visibility: visible;
    opacity: 1;
}