---
import NestedList from './NestedList.astro'
// console.clear()
// const sortedItems = [...Astro.props.menu].map(({items})=>{
//   const subItems =items.map(({items})=>items)
//   console.log(items)
// })
// console.log('sorted items', sortedItems)
---
<nav>
  <NestedList items={Astro.props.menu} pageHeaders={Astro.props.headers}/>
</nav>