---
import PrefetchLink from '../components/NavBar/PreFetchLink.astro'
const {content:{name,href,meta}}=Astro.props
const title = meta?.title?.api || meta?.title?.page || name.split('-').join(' ')
const description = meta?.description?.page || meta.page_description || ''
const sanitizer = (str)=> (str && str.replace('<','&#60;').replace('>','&#62;'))
---
    <div>
        <PrefetchLink href={href}>
            <h3>
                {sanitizer(title)}
            </h3>
            <div>
                <p>
                    {sanitizer(description)}
                </p>
            </div>
        </PrefetchLink>
    </div>