---
    const {intro:introduction,default:normal,outro:stageExit} = Astro.slots
    console.log(introduction,normal,stageExit)
---
    <div class="test">
            <slot name="intro"/>
            <slot/>
            <slot name="Outro"/>
    </div>