---
import AVPlayer from '../components/AVPlayer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       Sup 😎 !
    </h1>
    <AVPlayer 
      url={"https://www.youtube.com/watch?v=dsTXcSeAZq8&ab_channel=Fireship"}
      controls={true}
      pip
      config={{
        youtube:{
          playerVars:{showinfo:1}
        }
      }}
    />
</body>
</html>