---
import XElement from "./XElement.astro";
---

    
<XElement @is="div" @resize={e=>{
  console.log(e)
}}>
  <XElement @is="button" @once={() => {
    let count = 0

    this.onclick = () => {
      counter_output.textContent = ++count
    }
  }}>Increment</XElement>
  &nbsp;
  <span id="counter_output">1</span>
</XElement>